<div class="home-container">
  @if (currentProfile) {
  <mat-card
    #swipeCard
    class="profile-card"
    [class.animate-right]="animateRight"
    [class.animate-left]="animateLeft"
  >
    <img
      mat-card-image
      [src]="currentProfile.main_photo_url + '?id=' + currentProfile.id"
      [alt]="currentProfile.username"
      loading=""
    />
    <mat-card-content>
      <h2>{{ currentProfile.username }}, {{ currentProfile.age }}</h2>
    </mat-card-content>
  </mat-card>
  }

  <div class="action-buttons">
    <button mat-fab color="warn" (click)="onPassClick()">
      <mat-icon>close</mat-icon>
    </button>
    <button mat-fab color="primary" (click)="onLikeClick()">
      <mat-icon>favorite</mat-icon>
    </button>
  </div>
</div>
