<!-- page-not-found.component.html -->
<div class="page-not-found-container">
  <mat-card class="error-card">
    <div class="error-content">
      <h1 class="error-code">404</h1>
      <p class="error-message">Oups ! La page que vous recherchez n'existe pas.</p>
      <button mat-raised-button color="primary" routerLink="/home">
        Retour à l'accueil
      </button>
    </div>
    <div class="error-illustration">
      <!-- Vous pouvez utiliser une image SVG ou PNG moderne ici -->
<!--      <img src="assets/404-illustration.svg" alt="Erreur 404">-->
    </div>
  </mat-card>
</div>
