<div class="verification-container">
  <mat-card class="verification-card">
    <mat-card-content>
      <div *ngIf="isLoading" class="loading-section">
        <mat-spinner></mat-spinner>
        <p>{{ verificationMessage }}</p>
      </div>
      <div class="success-section">
        <h2 [hidden]="!isLoading">Verification...</h2>
        <h2>{{ verificationMessage }}</h2>
        @if (!isLoading) {
          <button mat-raised-button color="primary" (click)="goToLogin()">Go to login</button>
        }
      </div>
    </mat-card-content>
  </mat-card>
</div>
