<div class="notification-container">
  <div class="text-xl font-bold">Notifications</div>
  <div class="notification-list">
    @if (notifications.length > 0) {

      <div
        class="notification-item"
        *ngFor="let notification of notifications"
        (click)="onNotificationClick(notification)"
        [ngClass]="{ 'unread-notification': !notification.has_read }"
      >
        <!-- Notification Icon -->
        <mat-icon class="notification-icon">
          {{ getNotificationIcon(notification.type) }}
        </mat-icon>

        <!-- Notification Text -->
        <div class="notification-text">
          <div class="flex flex-grow space-x-2 items-center">
            <div class="text-xl font-semibold">{{ notification.source_username }}</div>
            <div class="description">{{ getNotificationMessage(notification.type) }}</div>
            @if (notification.type == 'LIKE') {
              <button class="hover:text-white hover:font-bold hover:bg-emerald-800 px-4 rounded-2xl py-2"
                      (click)="likingBack(notification); $event.stopPropagation()">Liking back
              </button>
            }
          </div>
          <small class="timestamp">{{ notification.notified_at | date: 'short' }}</small>
        </div>

        <!-- Unread Indicator -->
        <mat-icon *ngIf="!notification.has_read" class="unread-indicator">
          fiber_manual_record
        </mat-icon>

        <!-- Bouton Corbeille -->
        <mat-icon
          class="delete-icon"
          (click)="deleteNotification(notification); $event.stopPropagation()"
          matTooltip="Delete notification"
        >
          delete
        </mat-icon>
      </div>
    } @else {
      <div class="flex justify-center items-center h-full ">You have no notifications at the moment
      </div>
    }
  </div>
</div>
