<div class="chat-container" [ngClass]="{'conversation-selected': selectedUser}">
	<div class="conversation-list">
	  <mat-list>
		<mat-list-item *ngFor="let user of chatUsers" (click)="selectConversation(user)">
		  <mat-icon matListAvatar>account_circle</mat-icon>
		  <h3 matLine>{{ user.name }}</h3>
		  <span class="unread-badge" *ngIf="user.unread > 0">{{ user.unread }}</span>
		</mat-list-item>
	  </mat-list>
	</div>
	<app-conversation 
	  *ngIf="selectedUser" 
	  [user]="selectedUser"
	  (close)="closeConversation()"
	></app-conversation>
  </div>
  