<div class="chat-container">
  <mat-card
    [class.hidden]="isMobile && selectedUser"
    class="chat-users-card"
  >
    <mat-card-header>
      <mat-card-title>Chats</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item
          (click)="selectConversation(user)"
          *ngFor="let user of chatUsers"
          [class.selected]="user === selectedUser"
        >
          <div
            [class.unread-chat]="checkIfUnreadChat(user.id)"

            class="text-2xl">{{ user.username }}
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="selectedUser" class="chat-conversation-card">
    <app-conversation
      (close)="closeConversation()"
      [messages]="messages"
      [user]="selectedUser">
    </app-conversation>
  </mat-card>
</div>
