<div class="dashboard-container">
  <div class="content-area">
    <router-outlet></router-outlet>
  </div>
  <nav [tabPanel]="tabPanel" class="bottom-tab-bar" mat-tab-nav-bar>
    <a #rla="routerLinkActive" *ngFor="let tab of tabs" [active]="rla.isActive" [routerLink]="tab.path" mat-tab-link
      routerLinkActive>

      <ng-container *ngIf="tab.path === 'chat'; else notificationBadge">
        <mat-icon [matBadge]="(unreadChatMarker$ | async) ? (countChatUnreadMarker$ | async) : null" aria-hidden="false"
          matBadgeColor="warn" matBadgeOverlap="false" matBadgeSize="small">
          {{ tab.icon }}
        </mat-icon>
      </ng-container>

      <ng-template #notificationBadge>
        <ng-container *ngIf="tab.path === 'notification'; else defaultIcon">
          <mat-icon [matBadge]="(notificationMarker$ | async) ? (countNotificationMarker$ | async) : null"
            aria-hidden="false" matBadgeColor="warn" matBadgeOverlap="false" matBadgeSize="small">
            {{ tab.icon }}
          </mat-icon>
        </ng-container>
      </ng-template>

      <ng-template #defaultIcon>
        <mat-icon>{{ tab.icon }}</mat-icon>
      </ng-template>

      <span class="tab-label">{{ tab.label }}</span>
    </a>
  </nav>
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
</div>