<div class=" h-full w-full flex justify-center items-center rounded-xl ">
  <div
    class="flex flex-col justify-center items-center bg-white pb-8 xs:p-1 rounded-lg h-1/2 w-2/3 xs:h-full xs:w-full">
    <mat-icon class="pb-10 ">info</mat-icon>
    <div class="text-ellipsis text-center font-medium pb-10 text-xl">You can change your first and last names at any
      time
    </div>
    <form [formGroup]="namesForm" (ngSubmit)="onSubmit()"
      class="w-full max-w-sm flex flex-col justify-center items-center">
      <mat-form-field class="w-full pb-5" appearance="fill">
        <mat-label>First name</mat-label>
        <input matInput type="text" formControlName="first_name" />
        <mat-error *ngIf="namesForm.get('first_name')?.hasError('required')">
          First name is required.
        </mat-error>
        <mat-error *ngIf="namesForm.get('first_name')?.hasError('maxlength')">
          The first name must not exceed 255 characters.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-full pb-10" appearance="fill">
        <mat-label>Last name</mat-label>
        <input matInput type="text" formControlName="last_name" />
        <mat-error *ngIf="namesForm.get('last_name')?.hasError('required')">
          Last name is required.
        </mat-error>
        <mat-error *ngIf="namesForm.get('last_name')?.hasError('maxlength')">
          The last name must not exceed 255 characters.
        </mat-error>
      </mat-form-field>
      <button class="!font-black" mat-raised-button color="primary" type="submit" hidden="hidden"></button>

    </form>
    <div class="flex flex-col w-2/3  space-y-2 max-w-96 ">
      <button class="!font-black" mat-raised-button color="primary" type="submit" (click)="onSubmit()"
        [disabled]="namesForm.invalid">
        Submit
      </button>
      <button mat-raised-button class="font-black bg-red-800 hover:bg-red-700 text-white" (click)="backToProfile()">
        cancel
      </button>
    </div>
  </div>

</div>